In [17]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
import sweetviz as sv

In [2]:
! pip install ydata-profiling typing_extensions==4.7.1 sweetviz

Requirement already satisfied: ydata-profiling in c:\users\david\programming\mlops\.venv\lib\site-packages (4.17.0)
Requirement already satisfied: typing_extensions==4.7.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (4.7.1)
Requirement already satisfied: sweetviz in c:\users\david\programming\mlops\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: scipy<1.16,>=1.4.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (1.11.4)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (2.1.4)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (3.7.5)
Requirement already satisfied: pydantic>=2 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (2.9.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (6.0.3)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in c:\users\david\programming\mlops\.venv\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: minify-html>=0.15.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (0.16.4)
Requirement already satisfied: filetype>=1.0.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (1.2.0)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (2.32.5)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (0.14.5)
Requirement already satisfied: typeguard<5,>=3 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (4.2.0)
Requirement already satisfied: imagehash==4.3.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from ydata-profiling) (0.60.0)
Requirement already satisfied: PyWavelets in c:\users\david\programming\mlops\.venv\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.6.0)
Requirement already satisfied: pillow in c:\users\david\programming\mlops\.venv\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\david\programming\mlops\.venv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.60.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\david\programming\mlops\.venv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (6.5.2)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from numba<=0.61,>=0.56.0->ydata-profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.3.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\david\programming\mlops\.venv\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\david\programming\mlops\.venv\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\david\programming\mlops\.venv\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\david\programming\mlops\.venv\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2025.10.5)
Requirement already satisfied: patsy>=0.5.6 in c:\users\david\programming\mlops\.venv\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (1.0.1)
Requirement already satisfied: colorama in c:\users\david\programming\mlops\.venv\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: importlib-metadata>=3.6 in c:\users\david\programming\mlops\.venv\lib\site-packages (from typeguard<5,>=3->ydata-profiling) (7.2.1)
Requirement already satisfied: attrs>=19.3.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (25.4.0)
Requirement already satisfied: networkx>=2.4 in c:\users\david\programming\mlops\.venv\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.2.1)
Requirement already satisfied: puremagic in c:\users\david\programming\mlops\.venv\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.30)
Requirement already satisfied: zipp>=0.5 in c:\users\david\programming\mlops\.venv\lib\site-packages (from importlib-metadata>=3.6->typeguard<5,>=3->ydata-profiling) (3.23.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\david\programming\mlops\.venv\lib\site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in c:\users\david\programming\mlops\.venv\lib\site-packages (from pydantic>=2->ydata-profiling) (2.23.4)
Requirement already satisfied: six>=1.5 in c:\users\david\programming\mlops\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)

Data Source: https://www.kaggle.com/competitions/titanic/data

In [10]:
data_path = "../data/test.csv"
df = pd.read_csv(data_path)
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
# ? are replaced by nans
df = df.replace('?', np.nan)
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [16]:
# Generate the data profiling report
report = ProfileReport(df, title='My Data')
report.to_file("../EDA_report/my_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 11/11 [00:00<00:00, 498.31it/s]
c:\Users\david\Programming\MLOps\.venv\lib\site-packages\ydata_profiling\model\correlations.py:87: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'putmask: first argument must be an array')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
report = sv.analyze(df)
report.show_html('../EDA_report/report.html') # Generates a HTML report

                                             |          | [  0%]   00:00 -> (? left)

Report ../EDA_report/report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [20]:
df["Embarked"].value_counts()

Embarked
S    270
C    102
Q     46
Name: count, dtype: int64