In [10]:
import pandas as pd
df = pd.read_csv('test.csv')

In [11]:
# Create a copy to avoid modifying the original
data_filled = df.copy()

# Replace NaN values
for column in data_filled.columns:
    if data_filled[column].dtype == "object":
        # Replace with mode (most frequent value)
        data_filled[column].fillna(data_filled[column].mode()[0], inplace=True)
    else:
        # Replace with mean
        data_filled[column].fillna(data_filled[column].mean(), inplace=True)

# If needed, convert to string/object type
data_filled['Embarked'] = data_filled['Embarked'].astype(str)
data_filled['Embarked'] = data_filled['Embarked'].replace({'S': 0, 'C': 1, 'Q': 2})
data_filled['Sex'] = data_filled['Sex'].replace({'male': 0, 'female': 1})

data = data_filled[['Pclass', 'Sex','Age','Parch','Fare','SibSp','Embarked']]  # Use the filled data for further processing

data.head()

   Pclass  Sex   Age  Parch     Fare  SibSp  Embarked
0       3    0  34.5      0   7.8292      0         2
1       3    1  47.0      0   7.0000      1         0
2       2    0  62.0      0   9.6875      0         2
3       3    0  27.0      0   8.6625      0         0
4       3    1  22.0      1  12.2875      1         0

In [22]:
import pandas as pd
import requests
import random

# 2. Véletlenszerű sor kiválasztása
random_row = data.sample(n=1)

# 3. A kiválasztott sor átalakítása JSON formátumra az API híváshoz
input_data = random_row.to_dict(orient='records')[0]
print("Input data for prediction:")
print(input_data)

# 4. API végpont URL-je
url = "http://127.0.0.1:8000/predict"

# 5. POST kérés elküldése a REST API-hoz
response = requests.post(url, json=input_data)

# 6. Válasz kiírása
if response.status_code == 200:
    print("Predikció sikeres:")
    print(response.json())
else:
    print(f"Hiba történt: {response.status_code}")
    print(response.text)

Input data for prediction:
{'Pclass': 2, 'Sex': 1, 'Age': 24.0, 'Parch': 2, 'Fare': 65.0, 'SibSp': 1, 'Embarked': 0}
Predikció sikeres:
{'prediction': [1]}