In [ ]:
# ! pip install pycaret[full]
# ! pip install mlflow==2.11.3

In [19]:
# vagy (preferált) pip install -r requirements.txt
from pycaret.classification import *
import mlflow
print(mlflow.__version__)
from sklearn.model_selection import train_test_split

2.11.3

In [20]:
# Adathalmaz betöltése (feltételezve, hogy CSV formátumban van)
import pandas as pd
df = pd.read_csv('train.csv')

In [33]:
# Need to handle missing values before splitting
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
import pandas as pd

# Create a copy to avoid modifying the original
data_filled = df.copy()

# Replace NaN values
for column in data_filled.columns:
    if data_filled[column].dtype == "object":
        # Replace with mode (most frequent value)
        data_filled[column].fillna(data_filled[column].mode()[0], inplace=True)
    else:
        # Replace with mean
        data_filled[column].fillna(data_filled[column].mean(), inplace=True)

# If needed, convert to string/object type
data_filled['Embarked'] = data_filled['Embarked'].astype(str)
data_filled['Embarked'] = data_filled['Embarked'].replace({'S': 0, 'C': 1, 'Q': 2})
data_filled['Sex'] = data_filled['Sex'].replace({'male': 0, 'female': 1})

data = data_filled[['Survived', 'Pclass', 'Sex','Age','Parch','Fare','SibSp','Embarked']]  # Use the filled data for further processing

data.head()

   Survived  Pclass  Sex   Age  Parch     Fare  SibSp  Embarked
0         0       3    0  22.0      0   7.2500      1         0
1         1       1    1  38.0      0  71.2833      1         1
2         1       3    1  26.0      0   7.9250      0         0
3         1       1    1  35.0      0  53.1000      1         0
4         0       3    0  35.0      0   8.0500      0         0

In [23]:
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42, stratify=data['Survived'])

In [24]:
# log_experiment=True - mlflow tracking
exp_clf = setup(data=train_data, target='Survived', log_experiment=True, experiment_name='titanic_exp_2', log_plots=True)

In [25]:
# Modell tanítása és összehasonlítása
best_model = compare_models()

In [26]:
# Modell tanítása és mentése
final_model = finalize_model(best_model)
save_model(final_model, 'Titanic_modelV1')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Pclass', 'Sex', 'Age', 'Parch',
                                              'Fare', 'SibSp', 'Embarked'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude=None, include=[],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='most_frequent'))),
                 ('actual_estimator',
                  <catboost.core.CatBoostClassifier object at 0x00000168466C1D90>)],
          verbose=False),
 'Titanic_modelV1.pkl')

In [27]:
tuned_model = tune_model(best_model, optimize='AUC', search_library='scikit-learn', search_algorithm='random')

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [28]:
tuned_model_optuna = tune_model(best_model, optimize='AUC', search_library='optuna')

In [29]:
bagging_model = ensemble_model(best_model, method="Bagging", n_estimators=5)

predictions = predict_model(bagging_model)

print(predictions)

     Pclass  Sex        Age  Parch     Fare  SibSp  Embarked  Survived  \
636       3    0  32.000000      0   7.9250      0         0         0
197       3    0  42.000000      1   8.4042      0         0         0
509       3    0  26.000000      0  56.4958      0         0         1
202       3    0  34.000000      0   6.4958      0         0         0
674       2    0  29.699118      0   0.0000      0         0         0
..      ...  ...        ...    ...      ...    ...       ...       ...
408       3    0  21.000000      0   7.7750      0         0         0
500       3    0  17.000000      0   8.6625      0         0         0
5         3    0  29.699118      0   8.4583      0         2         0
67        3    0  19.000000      0   8.1583      0         0         0
613       3    0  29.699118      0   7.7500      0         2         0

     prediction_label  prediction_score
636                 0            0.8640
197                 0            0.8947
509                 0            0.8305
202                 0            0.9703
674                 0            0.9688
..                ...               ...
408                 0            0.8789
500                 0            0.9259
5                   0            0.8206
67                  0            0.9146
613                 0            0.6877

[214 rows x 10 columns]

In [30]:
lda = create_model('lda') 
ridge = create_model('ridge') 
gbc = create_model('gbc')

blended_model = blend_models([best_model, lda, ridge, gbc])
compare_models()

In [31]:
import mlflow
from mlflow.tracking import MlflowClient

client = MlflowClient()

experiment_name = "titanic_exp_2"

experiment = client.get_experiment_by_name(experiment_name)

runs = client.search_runs(experiment.experiment_id)

best_run = None
best_auc = 0

for run in runs:
    auc = run.data.metrics.get("AUC", None)
    if auc is not None and auc > best_auc:
        best_auc = auc
        best_run = run

if best_run:
    print(f"Best model AUC: {best_auc}, Run ID: {best_run.info.run_id}")
    
    best_model = mlflow.pyfunc.load_model(f"runs:/{best_run.info.run_id}/model")
    
else:
    print("No model with good AUC result")

Best model AUC: 0.8748, Run ID: 367ea09110ef48c784af7f4b24b463b6

In [32]:
predictions = predict_model(best_model, data=test_data)

print(predictions)

     Pclass  Sex        Age  Parch     Fare  SibSp  Embarked  Survived  \
565       3    0  24.000000      0  24.1500      2         0         0
160       3    0  44.000000      1  16.1000      0         0         0
553       3    0  22.000000      0   7.2250      0         1         1
860       3    0  41.000000      0  14.1083      2         0         0
241       3    1  29.699118      0  15.5000      1         2         1
..      ...  ...        ...    ...      ...    ...       ...       ...
880       2    1  25.000000      1  26.0000      0         0         1
91        3    0  20.000000      0   7.8542      0         0         0
883       2    0  28.000000      0  10.5000      0         0         0
473       2    1  23.000000      0  13.7917      0         1         1
637       2    0  31.000000      1  26.2500      1         0         0

     prediction_label
565                 0
160                 0
553                 0
860                 0
241                 0
..                ...
880                 1
91                  0
883                 0
473                 1
637                 0

[179 rows x 9 columns]